<!DOCTYPE html>
<!--<html lang="<%= config.language || 'en' %>">-->
<head>
  <!-- Basquiat-inspired bold, street art aesthetic fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:wght@400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">

  <% if (theme.google_analytics && theme.google_analytics !== 'G-XXXXXXXXXX') { %>
  <!-- Google Analytics (GA4) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= theme.google_analytics %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '<%= theme.google_analytics %>');
  </script>
  <% } %>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <%
    var title = config.title;
    var separator = theme.separator;
    separator = ` ${separator} `;

    if (is_home()){
      if (config.subtitle) {
        title += separator + config.subtitle;
      }
    }

    if (is_archive()) {
      title = __('Archives') + separator + title;
    }

    if (is_tag()) {
      title = __('Post.Tags') + ' : ' + page.tag + separator + title;
    }

    if (page.title) {
      title = page.title + separator + title;
    }
  %>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <%
    let keywords = theme.keywords, tmp = [];

    if (page.tags && page.tags.length) {
      page.tags.forEach(function(tag) {
        tmp.push(tag.name);
      });

      keywords = tmp.join(',');
    }
  %>
  <meta name="keywords" content=<%= keywords %>>
  <% if (config.description){ %>
    <meta name="description" content="<%= config.description %>">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="shortcut icon" type="image/x-icon" href="<%= url_for(theme.favicon) %>?v=1.02">
  <% } %>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %> " title="<%= config.title %>" type="application/atom+xml">
  <% } %>

  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    menuSettings: {
      zoom: "None"
    },
    showMathMenu: false,
    jax: ["input/TeX","output/HTML-CSS"],
    extensions: ["tex2jax.js"],
    TeX: {
      extensions: ["AMSmath.js","AMSsymbols.js","color.js"],
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    "HTML-CSS": {
      availableFonts: ["TeX"],
      preferredFont: "TeX",
      webFont: "TeX",
      imageFont: null
    },
    tex2jax: {
      inlineMath: [["\\(", "\\)"], ["$", "$"]],
      displayMath: [["\\[", "\\]"], ["$$", "$$"]],
      processEscapes: true,
      processEnvironments: true
    }
  });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <%- css('/css/style.css') %>

  <% if (is_home()) { %>
  <!-- Lorenz attractor background for landing page -->
  <script defer src="<%- url_for('/js/lorenz-background.js') %>"></script>
  <% } %>
</head>
